header {
    line-height: 45px;
    border-bottom: 1px solid darkgrey;
    background-color: white;
    text-align: center;
    font-size: 24px;
}

section.panel {
    background-color: white;
    margin-top: 10px;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

section.panel:last-of-type {
    margin-bottom: 70px !important;
}

.panel .title {
    line-height: 36px;
}

.panel span {
    display: inline-block;
}

.title .name {
    font-size: 24px;
    margin-left: 15px;
    margin-right: 20px;
}

.title .order {
    font-size: 14px;
    color: darkgrey;
    line-height: 36px;
}

.title .state {
    font-size: 20px;
    line-height: 36px;
    color: darkred;
    float: right;
    margin-right: 10px;
}

.panel .order_info {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.order_info li {
    /*min-height: 86px;*/
    min-height: 130px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.order_info li:last-of-type {
    border-bottom: none;
}

.order_info li:last-child {
    margin-bottom: 0;
}

.order_info .order_left {
    float: left;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.order_left span{
    display: inline-block;
    font-size: 12px;
}

.order_info .order_middle {
    float: left;
    width: 45%;
    font-size: 12px;
    vertical-align: middle;
}

.order_middle h2.name {
    font-size: 14px;
    padding-top: 5px;
}

.order_middle > span {
    text-indent: 2em;
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.order_info .order_right {
    float: left;
    width: 25%;
    height: 86px;
    text-align: center;
    vertical-align: middle;
}

.order_right p {
    line-height: 43px;
}

.order_right span.detail_price, .order_right span.detail_num {
    font-size: 18px;
    color: orangered;
}

.summary {
    line-height: 24px;
    margin-top: 10px;
}

.summary p {
    font-size: 14px;
    margin-left: 20px;
    color: darkgrey;
}

.summary .money, .summary .order_num {
    color: darkred;
    font-size: 18px;
}

.panel_btn{
    padding: 5px 15px 10px;
    overflow: hidden;
}

.panel_btn .btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f75549;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    min-width: 55px;
    display: inline-block;
    font-size: 15px;
    float: right;
}